.box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	width: 100%;
	height: 100%;

	background-color: hsla(180, 100%, 50%, 0.5);
	background-image:
					radial-gradient(at 0% 100%, hsla(241, 81%, 73%, 1) 0, transparent 50%),
					radial-gradient(at 31% 69%, hsla(242, 82%, 73%, 1) 0, transparent 50%),
					radial-gradient(at 43% 24%, hsla(188, 60%, 9%, 0.24) 0, transparent 50%),
					radial-gradient(at 63% 80%, hsla(280, 72%, 56%, 1) 0, transparent 50%),
					radial-gradient(at 99% 98%, hsla(280, 73%, 57%, 1) 0, transparent 50%),
					radial-gradient(at 0% 0%, hsla(188, 60%, 9%, 0.24) 0, transparent 50%);
	backdrop-filter: blur(12px);
}

.bike {
	z-index: 99;

	width: calc(var(--index) * 10);

	margin-bottom: calc(var(--index) * 0.2);
	margin-left: calc(var(--index) * 0.5);
}

.text {
	font-size: 20px;
}

.filter {
	position: absolute;

	bottom: 0;
	left: 0;

	width: calc(var(--index) * 15);
	height: calc(var(--index) * 0.1);

	background: hsla(180, 100%, 50%, 0.5);
	backdrop-filter: brightness(0.8) contrast(1.7);
}

