.socials {
	width: calc(var(--index) * 1.3);
	margin: 0 calc(var(--index) * 0.3);

	cursor: pointer;
	transition: all 300ms ease-in-out;

	opacity: 0.6;

	&:hover {
		transform: translateY(-2px);

		opacity: 1;
		filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 0.5));
	}
}
