.body {
	width: 100%;

	background: rgba(255, 255, 255, 0.1);
}

.loadingWrapper {
	width: 60vw;
	height: 20px;

	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.3);
}

.loading {
	position: absolute;
	left: 0;

	height: 100%;

	transition: all 200ms ease-in-out;

	background: var(--text-gradient);
}
