.link {
	z-index: 99;

	overflow: hidden;

	margin-right: calc(var(--index) * 1);

	cursor: pointer;

	transition: all 300ms ease-in-out;

	&:hover {
		transform: translateY(-2px);
		filter: brightness(1.1);
	}

	img {
		width: calc(var(--index) * 8);
	}
}
