.grid {
	display: flex;

	transition: all 200ms linear;
}

.column {
	flex-direction: column;
}

.columnReverse {
	flex-direction: column-reverse;
}

.centerX {
	justify-content: center;
}

.widthAuto {
	width: auto;
	height: auto;
}

.widthFull {
	width: 100%;
	height: 100%;
}

.centerY {
	align-items: center;
}

.between {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.start {
	justify-content: flex-start;
}

.end {
	justify-content: flex-end;
}

.wrap {
	flex-wrap: wrap;
}
