.header {
	z-index: 50;

	width: 100%;

	padding: calc(var(--index) * 2) calc(var(--index) * 5);

	.logo {
		display: flex;

		align-items: center;

		height: 70%;

		cursor: pointer;

		transition: all 200ms ease-in-out;

		&:hover {
			transform: translateY(-2px);
			filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 0.5));
		}

		img {
			height: calc(var(--index) * 1.6);
		}
	}

	.menu {
		cursor: pointer;
		transition: all 200ms ease-in-out;
		transform: scale(0.95);

		&:hover {
			transform: scale(1.05);
		}
	}
}
